{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/globals.css",
  "tailwindFunctions": ["clsx", "cn"],
  "semi": false,
  "trailingComma": "none",
  "singleQuote": false
}
